@import "~antd/dist/antd.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

webview.full-page {
  min-height: 91vh;
  max-height: 91vh;
  margin: 0px 16px;
}

.natural-language-control a {
  border-bottom: 3px dotted #000000d9;
}
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
  }
